<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Subjects</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>My Subjects</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
                <tr th:each="subject : ${subjects}">
                    <td th:text="${subject.id}">Id</td>
                    <td th:text="${subject.name}">Name</td>
                    <td th:text="${subject.categoryId}">Category ID</td>
                </tr>
            </table>
    </body>
</html>
